<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.mcgill.ecse428.restoguys.connoisseur"
          xmlns:app="http://schemas.android.com/apk/res-auto"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".viewcontroller.HomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- HISTORY -->
        <activity
            android:name=".viewcontroller.History"
            android:label="@string/title_activity_history"
            android:parentActivityName=".viewcontroller.RestaurantSelection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewcontroller.RestaurantSelection"/>
        </activity>

        <!-- RESTAURANT DETAILS -->
        <activity android:name=".viewcontroller.RestaurantDetails">
        </activity>
        <activity
            android:name=".viewcontroller.RestaurantSelection"
            android:label="@string/title_activity_restaurant_selection"
            android:parentActivityName=".viewcontroller.HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse428.restoguys.connoisseur.viewcontroller.HomeScreen"/>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
